.btn {
  padding: 10px;
  color: #fff;
  background-color: cadetblue;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
}

.btn:hover {
  background-color: rosybrown;
}